<?xml version='1.0' encoding='utf-8'?>
<plugin id="MyTracker" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>MyTracker</name>
	<repo>https://github.com/DenisCom3/myTracker</repo>
	<js-module name="MyTracker" src="www/MyTrackerPlugin.js">
		<clobbers target="window.plugins.MyTracker" />
	</js-module>
	
	<platform name="android">

		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="MyTracker">
				<param name="android-package" value="MyTracker.MyTracker" />
			</feature>
		</config-file>
		
		<config-file parent="/*" target="AndroidManifest.xml" mode="merge" >
			<uses-permission android:name="android.permission.INTERNET" />
   			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    		<uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
		</config-file>
		
		

		<framework src="com.my.tracker:mytracker-sdk:3.0.5" />
		<framework src="com.google.android.gms:play-services-ads-identifier:18.0.1" />
		<framework src="com.android.installreferrer:installreferrer:2.2" />

		<source-file src="src/android/MyTrackerPlugin.java" target-dir="src/MyTracker" />
	</platform>
</plugin>